$primary-text-gray-20: #eaeaead4;
$primary-text-gray-30: #e8e8e8;
$primary-text-gray-50: #BABABA;
$primary-text-gray-100: #bdbdbd;
$primary-text-gray-150: #989898;
$primary-text-gray-200: #8692a6;
$primary-text-gray-300: #696f79;
$primary-text-purple-150:#c570fa;
$primary-text-purple-200: #a020f0;
$primary-theme-pink: #F4DBDC;
$primary-button-blue-100: #1565d8;
$theme-body-background: #faeded;