@import "../app.scss";
@import "../layout/card.scss";

.card-container {
  max-width: 630px;
  /* background-color: #ffffff; */
  /* border: solid 1px var(--primary-gray-100); */
  border-radius: 15px;
  margin: 0px auto 0;
  /* padding-bottom: 20px; */
}

.card-context {
  width: 400px;
  margin: 0 auto;
  padding: 18px 0px 20px 0px;

  p:first-child {
    font-size: 30px;
    font-weight: 700;
  }

  p:nth-child(2) {
    font-size: 18px;
    color: $primary-text-gray-200;
    margin-top: 12px;
  }
}

.card-line {
  width: 100%;
  height: 1px;
  border-top: solid $primary-text-gray-200 1.5px;
  margin: 15px 0 18px;
}

.card-nav {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 35px 15px 0px;

  span {
    font-size: 16px;
    font-weight: 600;
    color: $primary-text-gray-200;
  }
}

.card-nav-svg {
  display: inline-flex;
  align-items: center;
  cursor: pointer;
}

.card-nav-p-set {
  position: relative;

  p:first-child {
    color: $primary-text-gray-200;
    font-size: 16px;
  }

  p:nth-child(2) {
    color: $primary-text-gray-100;
    font-size: 15px;
    position: absolute;
    top: -18px;
    right: -18px;
    width: 90px;
  }
}

.card-field {
  display: flex;
  flex-direction: column;

  label {
    font-size: 16px;
    color: $primary-text-gray-300;
  }
}

.form-control {
  border: solid 1.5px $primary-text-gray-200;
  border-radius: 5px;
  height: 50px;
  background: none;
  margin: 10px 0 18px;
  padding-left: 25px;

  :focus-visible {
    background-color: #ffffff;
    outline: none;
    border: solid 1.5px $primary-button-blue-100;
    box-shadow: 0px 1px 8px rgba(0, 0, 0, 0.28);
    transition: 0.1s;
  }
}

.card-button {
  width: 100%;
  height: 55px;
  background-color: $primary-button-blue-100;
  border: none;
  border-radius: 5px;
  box-shadow: 0px 1px 8px rgba(0, 0, 0, 0.135);
  font-size: 16px;
  color: #ffffff;
  cursor: pointer;
}

.card-light-or {
  position: relative;

  p {
    margin: 33px 0 33px;
  }

  span {
    background-color: $theme-body-background;
    position: absolute;
    top: -13px;
    left: 40%;
    z-index: 2;
    padding: 0 30px 0;
    font-size: 16px;
    color: $primary-text-gray-50;
  }
}

.auth-button {
  background-color: #ffffff;
  box-shadow: 0px 1px 8px rgba(0, 0, 0, 0.135);
  font-size: 16px;
  color: #000000;
}
