@import "../app.scss";

.upload-select {
  background-color: #ffffff;
  width: 45%;
  height: 721px;
  overflow-x: auto;
  overflow-y: auto;
  margin-top: 8vh;
  padding: 25px 20px 0px 20px;
  border-radius: 10px;
}

::-webkit-scrollbar {
  width: 12px;
}

::-webkit-scrollbar-thumb {
  background-image: linear-gradient(180deg, #d0368a 0%, #708ad4 99%);
  box-shadow: inset 2px 2px 5px 0 rgba(#fff, 0.5);
  border-radius: 100px;
  // border-radius: 10px;
  // background-color: $primary-text-gray-50;

  &:active {
    background-color: #a9a9a9a5;
  }
}

.upload-switch {
  > button {
    padding: 0;
    margin-right: 20px;
    font-size: 18px;
    color: $primary-text-gray-150;
    border: none;
    background: none;
    cursor: pointer;
  }
}

.upload-file-container {
  margin: 20px 15px 0;

  > div {
    margin-bottom: 20px;
  }
}

.upload-send {
  height: 230px;
  background-image: url("data:image/svg+xml,%3csvg width='100%25' height='100%25' xmlns='http://www.w3.org/2000/svg'%3e%3crect width='100%25' height='100%25' fill='none' rx='10' ry='10' stroke='%23BABABAFF' stroke-width='3' stroke-dasharray='10%2c10' stroke-dashoffset='0' stroke-linecap='square'/%3e%3c/svg%3e");
  background-color: #fafafa;
  border-radius: 10px;
  text-align: center;

  .upload-font {
    width: 40px;
    height: 40px;
    margin-top: 25px;
    border: 5px solid #28a745;
    box-shadow: 1px 1px 6px rgba(0, 0, 0, 0.135);
    border-radius: 50px;
    padding: 7px;
    color: #28a745;
    cursor: pointer;
    transition: 0.3s;

    &:hover {
      color: $primary-button-blue-100;
      border: 5px solid $primary-button-blue-100;
    }
  }

  button {
    color: #fff;
    background-color: #28a745;
    border-radius: 7px;
    border: none;
    box-shadow: 3px 3px 5px rgba(0, 0, 0, 0.135);
    font-size: 18px;
    font-weight: 700;
    padding: 8px 12px 7px;
    transition: 0.2s;
    position: relative;
    cursor: pointer;

    &:hover {
      opacity: 0.8;
    }

    &:disabled,
    &[disabled] {
      background-color: $primary-text-gray-150;
      opacity: 0.4;

      &:hover {
        padding: 8px 12px 7px;
      }
    }
  }

  div {
    margin-top: 15px;
    color: $primary-button-blue-100;
    font-weight: 700;
    font-size: 18px;
  }

  .upload-send-file-noselect {
    color: $primary-text-gray-150;
    cursor: default;
  }

  p {
    font-size: 18px;
    margin-top: 16px;
  }

  .upload-send-maxfile {
    font-size: 16px;
    margin: 10px 0 10px;
  }
}

.upload-file {
  height: 115px;
  border: 2px solid $primary-text-gray-30;
  border-radius: 7px;
  padding: 15px 15px 20px;
}

.upload-set {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  color: #000;
  margin-bottom: 0px;

  :nth-child(2) {
    width: 80%;
    font-size: 18px;

    :nth-child(2) {
      font-size: 14px;
      margin-top: 7px;
      color: $primary-text-gray-150;
    }
  }

  :nth-child(odd) {
    width: 20px;
    height: 20px;
  }
}

.upload-progress-set {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 15px;
}

.upload-progress {
  display: flex;
  height: 0.8rem;
  overflow: hidden;
  font-size: 0.75rem;
  background-color: #e9ecef;
  border-radius: 0.25rem;
  width: 85%;

  .upload-progress-bar-striped {
    background-image: linear-gradient(
      45deg,
      rgba(255, 255, 255, 0.15) 25%,
      transparent 25%,
      transparent 50%,
      rgba(255, 255, 255, 0.15) 50%,
      rgba(255, 255, 255, 0.15) 75%,
      transparent 75%,
      transparent
    );
    background-size: 1rem 1rem;
  }

  .upload-progress-bar {
    display: flex;
    align-items: center;
    color: #fff;
    text-align: center;
    white-space: nowrap;
    background-color: $primary-text-purple-200;
    transition: width .6s ease;
  }
}

.upload-progress-status {
  background-color: #28a745;
}

.upload-check {
  color: #28a745;
  width: 20px;
  height: 20px;
}

input[type="file"] {
  display: none;
}
