@import "./variableBoard";
.create-board-mask {
  position: fixed;
  left: 0px;
  top: 0px;
  width: 100vw;
  height: 100vh;
  background-color: rgba(0, 0, 0, 0.65);
  z-index: 2;
  display: flex;
  justify-content: center;
  align-items: center;
}

.create-board {
  width: 700px;
  height: 410px;
  border: 8px solid $primary-board-gray-30;
  border-radius: 21px;
  background-color: $primary-board-white-80;
  padding: 1.5rem 2rem 4px 1.2rem;
  position: relative;

  > p {
    font-size: 26px;
    font-weight: bold;
    color: #5a5858;
  }

  p {
    user-select: none;
  }

  .create-board-line {
    border-top: 3px solid #b9b5b5;
    border-radius: 10px;
    margin: 4px 2rem 12px 0;
  }

  .create-board-form {
    display: flex;
    justify-content: space-between;

    p {
      font-size: 22px;
      font-weight: bold;
      color: #506d74;
      letter-spacing: 0.8px;
      margin: 10px 0 2px;
    }

    input {
      outline: none;
    }
    .create-board-title {
      input {
        width: 380px;
        height: 36px;
        font-size: 18px;
        border: 2px solid #4e96a7;
        border-radius: 4px;
      }
    }

    .create-board-description {
      textarea {
        resize: none;
        outline: none;
        width: 380px;
        color: #868686;
        font-size: 18px;
        background-color: #F8FAFF;
        border: 2px solid #bbbbbb;
        border-radius: 4px;
      }
    }

    .create-board-pwd-flex {
      display: flex;
      align-items: center;
    }

    .create-board-pwd {
      input {
        width: 190px;
        height: 25px;
        font-size: 14px;
        border: 2px solid #4e96a7;
        border-radius: 4px;
        margin: 2px 12px 0 0;
      }

      input[type="password"] {
        letter-spacing: 3px;
      }
    }

    .create-board-checkbox {
      font-size: 18px;
      color: $primary-board-blue-100;
      margin-top: 2px;

      label {
        margin-right: 8px;
        font-weight: bold;
      }

      input[type="checkbox"] {
        display: none;
      }

      span {
        cursor: pointer;
      }
    }

    .create-board-Select {
      margin-top: 1rem;

      .create-board-img {
        display: flex;
        justify-content: center;
        align-items: center;
        width: 185px;
        height: 175px;
        background-color: #F8FAFF;
        border: 2px solid #bbbbbb;
        overflow: hidden;

        p {
          font-size: 16px;
          font-weight: bold;
          color: #c6cbcc;
          user-select: none;
        }
        img {
          max-width: 100%;
          max-height: 100%;
        }
      }

      .create-board-file {
        display: flex;
        justify-content: center;
        label {
          display: inline-block;
          margin-top: 12px;
          padding: 6px 14px;
          font-size: 16px;
          font-weight: bold;
          color: $primary-board-white-80;
          background-color: #2dbbf9;
          border: none;
          border-radius: 2px;
          user-select: none;
          cursor: pointer;
        }

        input {
          display: none;
        }
      }
    }
  }
  .create-board-decide {
    text-align: center;

    button {
      font-size: 20px;
      font-weight: bold;
      padding: 6px 16px;
      margin: 1rem 1rem 0;
      cursor: pointer;
    }

    .create-board-cancel {
      background: none;
      border: 2px solid #b0b3c5;
      border-radius: 4px;
      user-select: none;
    }

    .create-board-confirm {
      background: #004de4;
      border: none;
      border-radius: 4px;
      color: $primary-board-white-80;
    }
  }

  > span {
    position: absolute;
    top: 10px;
    right: 16px;
    font-size: 22px;
    color: #767676;
    cursor: pointer;
  }
}
