@import "./variableBoard";
.login-board-mask {
  position: fixed;
  left: 0px;
  top: 0px;
  width: 100vw;
  height: 100vh;
  background-color: rgba(0, 0, 0, 0.65);
  z-index: 2;
  display: flex;
  justify-content: center;
  align-items: center;
}

.login-board {
  width: 410px;
  height: 370px;
  border: 10px solid $primary-board-gray-30;
  border-radius: 21px;
  background-color: $primary-board-white-80;
  padding: 2.6rem 2.5rem;
  position: relative;

  h1 {
    font-size: 22px;
    font-weight: bold;
    color: $primary-board-blue-100;
    user-select: none;
  }

  .login-board-title {
    display: flex;
    margin: 1rem 0 1.2rem;

    div {
      display: flex;
      justify-content: space-evenly;
      flex-direction: column;
      margin-left: 8px;
      color: $primary-board-blue-100;
    }

    span {
      font-size: 36px;
      color: #097fd4;
    }

    p {
      font-size: 12px;
      user-select: none;
    }

    h2 {
      font-size: 16px;
      font-weight: bold;
      user-select: auto;
    }
  }

  h3 {
    font-size: 16px;
    font-weight: bold;
    color: $primary-board-blue-100;
    user-select: none;
  }

  .login-board-password-input {
    display: flex;
    align-items: center;
    position: relative;
    margin: 7px 0 1.3rem;

    span:first-child {
      position: absolute;
      left: 10px;
      font-size: 16px;
      cursor: auto;
    }

    input {
      width: 200px;
      height: 40px;
      border: 2px solid $primary-board-blue-100;
      border-radius: 6px;
      font-size: 16px;
      padding-left: 2.5rem;
      margin-right: 1rem;
    }

    input[type="password"] {
      letter-spacing: 3px;
    }

    span {
      display: inline-flex;
      justify-content: center;
      align-items: center;
      width: 25px;
      font-size: 22px;
      color: $primary-board-blue-100;
      cursor: pointer;
    }
  }

  .login-board-decide {
    display: flex;
    justify-content: center;
    gap: 1rem;
    margin-bottom: 1.2rem;

    button {
      width: 90px;
      height: 35px;
      border-radius: 4px;
      font-size: 14px;
      font-weight: bold;
      user-select: none;
      cursor: pointer;
    }

    .login-board-cancel {
      background: none;
      color: $primary-board-blue-100;
      border: 2px solid #b0b3c5;
    }

    .login-board-confirm {
      background-color: $primary-board-blue-100;
      color: $primary-board-white-80;
      border: none;
    }
  }

  > p {
    display: inline-block;
    font-size: 14px;
    font-weight: bold;
    font-style: italic;
    text-decoration: underline;
    user-select: none;
    cursor: pointer;
  }

  > span {
    position: absolute;
    top: 10px;
    right: 16px;
    font-size: 22px;
    color: #767676;
    cursor: pointer;
  }
}

input[type="password"]::-ms-reveal {
  display: none;
}

input[type="password"]::-ms-clear {
  display: none;
}

input[type="password"]::-o-clear {
  display: none;
}
