@import "./variableBoard";
.room-board-container {
  display: flex;
  position: relative;

  .room-board-chatRoom-message {
    position: absolute;
    right: 3rem;
    bottom: 2rem;
    width: 64px;
    height: 64px;
    background-color: #c2bfbf;
    border-radius: 30px;
    z-index: 9999;
    img {
      position: absolute;
      right: -6px;
      width: 75px;
      cursor: pointer;
    }
  }

  .room-board-chatRoom {
    position: absolute;
    bottom: 0;
    right: 10rem;
    width: 393px;
    height: 457px;
    border-top-right-radius: 20px;
    border-top-left-radius: 20px;
    background-color: #eff5f5;
    border: 2px solid #dddddd;
    z-index: 9999;

    .room-board-chatRoom-top {
      display: flex;
      justify-content: space-between;
      padding: 10px 26px 10px 14px;
      border-bottom: 2px solid #E5E5E5;
      .room-board-charRoom-title {
        display: flex;

        div {
          margin: 4px 0 0 8px;
          h2 {
            font-size: 16px;
            font-weight: bold;
            color: #363737;
          }
          h3 {
            margin-top: 4px;
            font-size: 14px;
            font-weight: bold;
            color: #C7C7C7;
          }
        }
        img {
          width: 45px;
          border-radius: 30px;
        }
      }

      .room-board-chatRoom-icon {
        display: flex;
        gap: 24px;
        margin-top: 10px;
        
        span {
          width: 26px;
          height: 26px;
          text-align: center;
          font-size: 24px;
          color: #767676;
          transition: all 0.2s;
          cursor: pointer;
          
          &:hover {
            background-color: #d8d8d8;
            border-radius: 4px;
            color: #363737;
          }
        }
      }
    }
    
    .room-board-chatRoom-content {
      display: flex;
      flex-direction: column;
      gap: 24px;
      height: 326px;
      overflow-y: auto;
      padding: 16px 0 0 0;

      .room-board-chatRoom-receive {
        > div {
          display: flex;
          align-items: center;
          gap: 12px;
          margin: 0px 5rem 10px 12px;

          div {
            font-size: 14px;
            font-weight: bold;
            color: #363737;
            padding: 8px 18px;
            background-color: #fff;
            border-radius: 12px;
            line-height: 20px;
          }
        }
        img {
          width: 45px;
          border-radius: 30px;
        }
      }

      .room-board-chatRoom-self {
        text-align: right;
        padding: 0 16px 0 6rem;
        margin-bottom: 10px;
        p {
          text-align: left;
          padding: 8px 18px;
          display: inline-block;
          font-size: 14px;
          font-weight: bold;
          color: #FFFFFF;
          background-color: #2E89CA;
          border-radius: 12px;
          line-height: 20px;
        }
      }
    }

    .room-board-chatRoom-send {
      position: absolute;
      bottom: 0;
      height: 60px;
      width: 100%;
      display: flex;
      justify-content: space-between;
      align-items: center;
      border-top: 3px solid #E5E5E5;
      padding:10px 1.5rem;

      .room-board-chatRoom-input {

        input {
          border: none;
          outline: none;
          height: 28px;
          width: 240px;
          font-size: 16px;
          font-weight: bold;
          border-radius: 12px;
          padding: 0 8px;
        }
      }

      .room-board-chatRoom-clip {
        font-size: 26px;
        color: #9A9A9A;
        cursor: pointer;
      }
      .room-board-chatRoom-plane {
        font-size: 18px;
        color: #FFFFFF;
        height: 35px;
        padding: 8px 10px 8px 8px;
        background-color: #2E89CA;
        border-radius: 10px;
        cursor: pointer;
      }
    }
  }

  .room-board-sidebar {
    display: flex;
    flex-direction: column;
    background-color: $primary-theme-pink;
    height: calc(100vh - 70px);
    border-right: 2.5px solid #e3cccd;

    .room-board-sidebar-search {
      padding: 2rem 2rem 1rem 2rem;

      p {
        font-size: 16px;
        font-weight: bold;
        color: $primary-board-gray-100;
      }
    }

    .room-board-sidebar-input {
      display: flex;
      align-items: center;
      width: 200px;
      height: 35px;
      background-color: $primary-board-white-80;
      border: 2px solid #858585;
      border-radius: 18px;
      margin: 5px 0 0 -5px;

      input {
        background: none;
        outline: none;
        border: none;
        font-size: 18px;
        color: $primary-board-gray-80;
        width: 80%;
        margin-left: 10px;
      }

      span {
        font-size: 20px;
        color: rgb(139, 139, 139);
        margin-top: 1px;
      }
    }

    // Room mode
    .room-board-sidebar-room-mode {
      padding: 1.5rem 0 0 0.8rem;

      > p {
        font-size: 16px;
        font-weight: bold;
        color: $primary-board-gray-100;
        margin-left: 1.3rem;
      }

      .room-board-sidebar-tab {
        display: flex;
        align-items: center;
        position: relative;
        height: 40px;
        width: 230px;
        color: $primary-board-gray-100;
        font-size: 20px;
        background-color: $primary-board-white-80;
        border-radius: 10px;
        margin-top: 9px;
        padding-left: 1rem;
        transition: all 0.2s;
        cursor: pointer;

        &:hover {
          background-color: #f0f0f0;
        }

        div {
          width: 30px;
        }

        span {
          margin-left: 6px;
          font-weight: bold;
        }
      }

      .room-board-sidebar-status {
        background-color: #e9f2ff;

        p {
          position: absolute;
          width: 5px;
          height: 17px;
          background-color: #84b6ff;
          left: 0;
        }

        &:hover {
          background-color: #dce8fb;
        }
      }
    }
  }

  .room-board-content {
    // padding: 0 0 0 2rem;
    // border-left: 5px solid $primary-board-white-80;

    > pre {
      font-size: 28px;
      font-weight: bolder;
      color: $primary-board-gray-100;
      margin: 2rem 0 1.5rem 2.5rem;
      user-select: none;
    }

    .room-board-data {
      display: flex;
      justify-content: space-evenly;
      width: 1500px;
      padding-bottom: 2rem;
      position: relative;

      // .room-board-data-line {
      //   position: absolute;
      //   bottom: 0;
      //   left: 0;
      //   width: calc(100vw - 264px);
      //   border-bottom: 5px solid $primary-board-white-80;
      // }

      .room-board-data-img {
        border: 3px solid #d9d9d9;
        border-radius: 12px;
        text-align: center;
        width: 200px;
        height: 210px;
        margin: 0 8rem 0 8rem;
        padding: 8px;

        img {
          width: 100%;
          object-fit: cover;
          height: 100%;
        }
      }

      .room-board-data-text {
        width: 1050px;
        position: relative;

        h1 {
          font-size: 36px;
          font-weight: bold;
          line-height: 1.1;
          color: $primary-board-blue-100;
          display: -webkit-box;
          -webkit-box-orient: vertical;
          -webkit-line-clamp: 1;
          word-break: break-all;
          overflow: hidden;
        }

        .room-board-data-description {
          margin: 14px 0;
          height: 120px;
          h2 {
            font-size: 22px;
            font-weight: bold;
            color: #373737;
            line-height: 1.33;
            display: -webkit-box;
            -webkit-box-orient: vertical;
            -webkit-line-clamp: 4;
            word-break: break-all;
            overflow: hidden;
          }
        }

        .room-board-data-date {
          display: flex;
          align-items: end;

          p {
            font-size: 16px;
            font-weight: bold;
            color: #8b8b8b;
            margin-right: 1.5rem;
          }
        }

        > p {
          position: absolute;
          top: 1rem;
          right: 1rem;
          font-size: 18px;
          font-weight: bold;
          color: $primary-board-blue-100;
        }
      }
    }

    .room-board-fileList {
      .room-board-fileTitle {
        display: flex;
        align-items: center;
        margin: 2rem 0 1.5rem 2.5rem;
        position: relative;

        .room-board-pageNumber {
          position: absolute;
          right: 50px;
          display: flex;
          gap: 10px;
          font-size: 18px;
          font-weight: bold;

          .room-board-pageNumber-now {
            color: #615f5f;
          }

          span {
            font-size: 28px;
            font-weight: bold;
            color: #afafaf;
            user-select: none;
          }

          p {
            color: #afafaf;
            cursor: pointer;
          }
        }

        p {
          font-size: 28px;
          font-weight: bold;
          color: $primary-board-gray-100;
          user-select: none;
        }

        div {
          button {
            font-size: 18px;
            font-weight: bold;
            color: $primary-board-white-80;
            margin-left: 1rem;
            padding: 5px 28px;
            background-color: #808080;
            border: none;
            border-radius: 4px;
            transition: all 0.2s;
            cursor: pointer;

            &:hover {
              opacity: 0.7;
            }
          }

          button:first-child {
            background-color: #3497de;
            margin-left: 2rem;
          }

          .room-board-delete {
            background-color: #f24646;
          }
        }
      }

      .room-board-file {
        display: flex;
        flex-wrap: wrap;
        gap: 35px 24px;
        width: 1520px;
        margin-left: 2rem;

        > div {
          height: 180px;
          width: 350px;
          background-color: $primary-board-white-80;
          border-radius: 8px;
        }

        .room-board-main-room {
          position: relative;
          display: flex;
          justify-content: space-between;
          flex-direction: column;
          padding: 14px 1rem 8px;

          .room-board-main-room-number {
            display: flex;

            span {
              font-size: 32px;
              color: #626f86;
            }

            > div {
              margin-left: 10px;

              p:first-child {
                font-size: 16px;
                font-weight: bold;
                color: $primary-board-blue-100;
                margin-bottom: 4px;
                width: 260px;
              }

              p {
                font-size: 12px;
                color: $primary-board-gray-80;
                user-select: none;
                display: -webkit-box;
                -webkit-box-orient: vertical;
                -webkit-line-clamp: 1;
                word-break: break-all;
                overflow: hidden;
              }
            }
          }

          .room-board-main-room-description {
            p {
              font-size: 16px;
              font-weight: bold;
              color: #373737;
              line-height: 1.33;
              display: -webkit-box;
              -webkit-box-orient: vertical;
              -webkit-line-clamp: 4;
              word-break: break-all;
              overflow: hidden;
            }
            height: 80px;
          }

          .room-board-main-room-date {
            font-size: 14px;
            font-weight: bold;
            color: $primary-board-gray-80;
            margin: 6px 0;
          }
        }
      }
    }
  }
}

.room-board-loading-date {
  p {
    position: relative;
    background-color: $primary-board-gray-20;
    height: 21.6px;
    border-radius: 3px;
    width: 300px;
    overflow: hidden;
  }
}

.room-board-loading-img {
  width: 200px;
  height: 210px;
  border: 3px solid #d9d9d9;
  border-radius: 12px;
  background-color: #fffdfd;
  margin: 0 8rem 0 8rem;
}

.room-board-loading-text {
  h1 {
    position: relative;
    background-color: $primary-board-gray-20;
    border-radius: 3px;
    height: 39.6px;
    width: 400px;
  }
  h2 {
    position: relative;
    background-color: $primary-board-gray-20;
    height: 25px;
    border-radius: 3px;
    width: 700px;
    margin-top: 1rem;
  }
  .loading-text600 {
    width: 600px;
  }
  .loading-text800 {
    width: 800px;
  }
}

.room-board-main-loading-text {
  p:first-child {
    height: 18.4px;
  }

  p {
    position: relative;
    background-color: $primary-board-gray-20;
    height: 13.6px;
    width: 80px;
  }
}

.room-board-main-loading-description {
  p {
    position: relative;
    background-color: $primary-board-gray-20;
    height: 21.3px;
    width: 310px;
    margin-bottom: 8px;
  }
  .loading-text-210 {
    width: 210px;
  }
  .loading-text-260 {
    width: 260px;
  }
}

.room-board-main-loading-date {
  position: relative;
  background-color: $primary-board-gray-20;
  height: 16.8px;
  width: 180px;
}

@keyframes changeImg {
  from {
    left: -50%;
  }
  100% {
    left: 100%;
  }
}
.flash-across {
  position: absolute;
  animation: changeImg 2.5s ease 0s;
  top: 0;
  width: 30%;
  height: 100%;
  content: "";
  background: linear-gradient(
    to right,
    rgba(255, 255, 255, 0) 0,
    rgba(255, 255, 255, 0.4) 50%,
    rgba(255, 255, 255, 0) 100%
  );
  transform: skewX(-45deg);
  animation-iteration-count: infinite;
}
