$primary-board-gray-20: #e7e7e7;
$primary-board-gray-30: #dedfe4;
$primary-board-gray-80: #8b8b8b;
$primary-board-gray-100: #615f5f;
$primary-board-white-80: #FAFAFA;
$primary-board-blue-100: #1e3050;
$primary-theme-pink: #F4DBDC;